* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    height: 100vh;
    overflow: hidden;
}
.container .background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #004eff;
    position: relative;
}
.number, .final {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', sans-serif;
    font-size: 10em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    opacity: 0;
}
.final i {
    color: #c10000;
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 10s;
}
#ten {
    animation-name: countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
#nine {
    animation-name: countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
#eight {
    animation-name: countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 2s;
}
#seven {
    animation-name: countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 3s;
}
#six {
    animation-name: countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 4s;
}
#five {
    animation-name: countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 5s;
}
#four {
    animation-name: countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 6s;
}
#three {
    animation-name: countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 7s;
}
#two {
    animation-name: countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 8s;
}
#one {
    animation-name: countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 9s;
}
.final {
    animation-name: after-countdown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 10s;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes countdown {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

@keyframes after-countdown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

